#sticky {
    text-align: left;
    color: white;
}

tbody > tr {
    &:hover {
        background: white;
        color: black;
    }
}

thead > tr {
    background: #306a87;
    &:hover {
       color: white !important; 
    }
}

td {
    white-space:pre;
}