label {
    padding: 5px;
}

#date {
    border: 1px solid gray;
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 3px;
}

#permanent {
    display: inline-block;
    width: 10%;
    height: 16px;
    padding-top: 10px;
}

.form-control {
    &:focus {
        border-color: none;
        box-shadow: none;
    }
}
